<nav class="navbar is-dark is-transparent is-fixed-top navbar-big" id="navbar" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://bulma.io" >
				<img src="/assets/img/Arkus-Fatter.png" />
			</a>
			<button class="button navbar-burger">
			<span></span>
			<span></span>
			<span></span>
			</button>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
			</div>
			<div class="navbar-end">
				<a class="navbar-item active">
					Me
				</a>
				<a class="navbar-item">
					Projects
				</a>
				<a class="navbar-item">
					Awards
				</a>
				<a class="navbar-item">
					Essays
				</a>
			</div>
		</div>
	</div>
</nav>