<div aria-hidden="" class="modal" id="contact-modal" style="z-index: 100000">
  <div class="modal-background close-modal" data-modal-id="#contact-modal"></div>
  <div class="modal-content">
  	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfYPZtdtieghEOcEir54B170WwMh2z0TZzo8Mn4DgD08Bj9jw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
   </div>
   <button class="modal-close is-large close-modal" data-modal-id="#contact-modal" aria-label="close"></button>
</div>