<nav class="navbar is-dark is-transparent is-fixed-top navbar-big {% if page.layout != 'home' %}navbar-dark{% endif %}" id="navbar" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/" >
				<img src="/assets/img/Arkus-Fatter.png" />
			</a>
			<button class="button navbar-burger" data-target="navMenu">
			<span></span>
			<span></span>
			<span></span>
			</button>
		</div>
		<div class="navbar-menu" id="navMenu">
			<div class="navbar-end">
				<a class="navbar-item {% if page.id == 'home' %}active{% endif %}" href="/">
					Me
				</a>
				<a class="navbar-item {% if page.id == 'projects' %}active{% endif %}" href="/projects">
					Projects
				</a>
				<a class="navbar-item" href="https://medium.com/@matteing">
					Essays
				</a>
				<a class="navbar-item navbar-highlight close-modal" data-modal-id="#contact-modal">
					Contact
				</a>
			</div>
		</div>
	</div>
</nav>